		<!-- Me -->
		<article id="me" class="panel">
			<header>
				<h1>{{campaign.title}}</h1>
				<p>{{campaign.description}}</p>
				<p>{{campaign.time}}</p>
				<p>{{campaign.place}}</p>
				<p>{{campaign.host}}</p>


			<script type="text/javascript"
        src="https://www.simplify.com/commerce/simplify.pay.js"></script>
<button data-sc-key="sbpb_MmI4MDFkODEtZjczOS00MWJjLThmN2QtMmE1ZWEyMzkzZjAz"
        data-name="NEEDED: Shoes, good condition, sizes 7 - 11"
        data-description="Donate for beach cleaning"
        data-reference="99999"
        data-amount="3000"
        data-color="#12B830">
      	Donate Now
</button>

		</article>
