
			<header>
				<h1 class="flow-text">{{campaign.title}}</h1>
				<p class="flow-text">{{campaign.description}}</p>
				<p class="flow-text">{{campaign.time}}</p>
				<p class="flow-text">{{campaign.place}}</p>
				<p class="flow-text">{{campaign.host}}</p>


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@10T010">
<meta name="twitter:creator" content="@10T010">
<meta name="twitter:title" content="{{campaign.title}}">
<meta name="twitter:description" content="{{campaign.description}}">
<meta name="twitter:image" content="https://polar-tor-8455.herokuapp.com/img/galaxy.jpg">

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Land%20a%20hand!"
  data-size="large">
Tweet</a>

<button data-sc-key="sbpb_MmI4MDFkODEtZjczOS00MWJjLThmN2QtMmE1ZWEyMzkzZjAz"
        data-name = test.toString();
        data-description="Donate to help get locals in your community get what they need"
        data-reference="99999"
        data-amount="3000"
        data-color="#12B830">
      	Donate Now
</button>
