<h1>
	Help is on the way!
</h1>



			<header>
				<h1 class="flow-text">What is needed: {{campaign.title}}</h1>
				<p class="flow-text">{{campaign.description}}</p>
				<p class="flow-text">By when: {{campaign.time}}</p>
				<p class="flow-text">How: {{campaign.place}}</p>
				<p class="flow-text">{{campaign.host}}</p>
			</header>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@10T010">
<meta name="twitter:creator" content="@10T010">
<meta name="twitter:title" content="{{campaign.title}}">
<meta name="twitter:description" content="{{campaign.description}}">
<meta name="twitter:image" content="https://polar-tor-8455.herokuapp.com/img/galaxy.jpg">
