
<div class="row">

    <a class="waves-effect waves-light btn"><i class="material-icons">monetization_on</i> </a>
    <a class="waves-effect waves-light btn"><i class="material-icons">restaurant</i></a>
    <a class="waves-effect waves-light btn"><i class="material-icons">business_center</i></a>

</div>


<div class="row">


  <form class="col s12">

    <div class="row">
      <div class="input-field col s12">
        <input id="Title" type="text" class="validate">
        <label for="first_name">Needed:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="userId" type="text" class="validate">
        <label for="first_name">Location:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" class="validate">
        <label for="first_name">Contact</label>
      </div>
      <div class="input-field col s6">
        <input id="date" type="text" class="validate">
        <label for="date">Date</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="place" type="text" class="validate">
        <label for="place">Location</label>
      </div>
      <div class="input-field col s6">
        <input id="money" type="text" class="validate">
        <label for="last_name">Donations Needed</label>
      </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea"></textarea>
          <label for="textarea1">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center-align">
          <button ng-click="submit()" class="btn waves-effect waves-light btn-large " type="submit" name="action">Submit
          </button>
        </div>
      </div>
  </div>

  </form>
</div>
