<script>

</script>


<p class="white-text">
 Pick a shelter
</p>
<div><iframe width="500px" title="Alameda County Shelters (Emergencies)" height="425px" src="https://data.acgov.org/w/wu33-vg7m/?cur=hTqMw0vmCQH&from=root" frameborder="0"scrolling="no"><a href="https://data.acgov.org/Social-Services/Alameda-County-Shelters-Emergencies-/wu33-vg7m" title="Alameda County Shelters (Emergencies)" target="_blank">Alameda County Shelters (Emergencies)</a></iframe><p><a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a></p></div>



<div class="collection" >
  <h3 class="black-text">My Donations</h3>
  <a href="/#/campaign/rl91RxSR2U" class="collection-item waves-effect waves-teal btn-flat" ng-repeat="campaign in campaigns"> {{campaign.attributes.title}}</a>



</div>
