<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<h1 class="header center black-text light">Welcome</h1>
		<div class="row center">
			<img class="responsive-img" src="http://co.monmouth.nj.us/AgencyImages/47/CoupleHelps_Homeless.jpg" />
			<h5 class="header col s12 light pink-text accent-2"> Help out your local community, by giving back to the less fortunate</h5>
		</div>

		<div class="row center">
			<a href="" ng-click="login()" class="btn-large waves-effect waves-light cyan lighten-2">Log in</a>
		</div>


	</div>
</div>
