<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <span class="card-title"> Type of User? </span>
        <div class="row">
          <div class="col s12"><center>
            <span class="flow-text">What type of user are you?</span>
          </center></div>
          <center>
            <div class="col s3 offset-s3"><a class="waves-effect waves-light btn black" href="/#/dashboard">Shelter</a></div>
            <div class="col s3"><a class="waves-effect waves-light btn black" href="/#/dashboardUser/">Donator</a></div>

          </center>

        </div>
      </div>
      </div>
      </div>
      </div>
